In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\argha\anaconda3\lib\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\argha\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [2]:
# Create mysql connection
import mysql.connector as sql

In [3]:
connection = sql.connect(
    host="localhost",
    user="root",
    password="admin"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000015F74777B80>

In [4]:
cursor = connection.cursor()

In [5]:
cursor.execute('CREATE DATABASE student1')

In [6]:
cursor.execute('SHOW DATABASES')

In [7]:
for database in cursor:
    print(database)

('company',)
('customer',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student1',)
('sys',)
('world',)

# Execute and drop some databases and check

## Create db

In [8]:
cursor.execute('CREATE DATABASE computer')

In [9]:
cursor.execute('CREATE DATABASE school')

In [10]:
cursor.execute('CREATE DATABASE college')

In [11]:
cursor.execute('SHOW DATABASES')

In [12]:
for db in cursor:
    print(db)

('college',)
('company',)
('computer',)
('customer',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('school',)
('student1',)
('sys',)
('world',)

## Drop db

In [14]:
cursor.execute('DROP DATABASE computer')
cursor.execute('DROP DATABASE school')
cursor.execute('DROP DATABASE college')

In [16]:
cursor.execute('SHOW DATABASES')

In [17]:
for db in cursor:
    print(db)

('company',)
('customer',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student1',)
('sys',)
('world',)