In [1]:
# Create mysql connection and connect
import mysql.connector as sql

connection = sql.connect(
    host="localhost",
    user="root",
    password="admin",
    database="student"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002196026CD00>

In [2]:
cursor = connection.cursor()

In [3]:
# Create table
cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

In [4]:
# Insert records into table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 1

In [5]:
### Insert multiple records in Table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Krish", "Stats"),
        ("Joe", "Maths"),
        ("Ankur","Data Science"),
        ("Paul","Data Science"),
        ("Vishal","Maths"),
        ("Krish","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 2

In [6]:
# Select All
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [7]:
### Fetch All the Data
cursor.fetchall()

[(1, 'John', 'Stats'),
 (2, 'Krish', 'Stats'),
 (3, 'Joe', 'Maths'),
 (4, 'Ankur', 'Data Science'),
 (5, 'Paul', 'Data Science'),
 (6, 'Vishal', 'Maths'),
 (7, 'Krish', 'Data Science')]

In [8]:
### Fetch One Record At A time
cursor.fetchone()

In [9]:
lst=cursor.fetchall()

In [10]:
for records in lst:
    print(records)

In [11]:
# Selecting Particular Rows
cursor.execute("Select * from studentinfo where name='Krish'")

In [12]:
### Fetch All the Data
cursor.fetchall()

[(2, 'Krish', 'Stats'), (7, 'Krish', 'Data Science')]

In [13]:
# Select Particular Columns
cursor.execute("Select subject from studentinfo")

#### Fetch All
cursor.fetchall()

[('Stats',),
 ('Stats',),
 ('Maths',),
 ('Data Science',),
 ('Data Science',),
 ('Maths',),
 ('Data Science',)]

In [14]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")

#### Fetch All
cursor.fetchall()

[('Stats',), ('Maths',), ('Data Science',)]

In [15]:
cursor.execute("SELECT name, subject FROM studentinfo WHERE name = 'Krish' OR subject = 'Data Science'") 

#### Fetch All
cursor.fetchall()

[('Krish', 'Stats'),
 ('Ankur', 'Data Science'),
 ('Paul', 'Data Science'),
 ('Krish', 'Data Science')]

In [16]:
# Drop Table
cursor.execute("DROP TABLE studentinfo")